<h1>Sobre Mí</h1>
<em>"La vida es efímera así que disfrútala al maximo"</em>
<hr>
<p>Mi nombre es Iván Carrasco y soy desarrollador web full-stack, Nací en Tehuantepec, Oaxaca, México donde viví por casi 20 años, despues me trasladé a la Ciudad de México para cursar mis estudios universitarios en Traducción Inglés-Francés en la Universidad Mexicana Plantel Polanco.<br>
    Posteriormente me mudé a Santiago de Chile donde vivo en la actualidad felizmente casado.<br>
     Trabajé para Sonda Chile en el area de Soporte Técnico informatico para el cliente Nestlé donde me empecé a apasionar por las tecnologías y los lenguajes de programación por ello me decidí a estudiar formalmente la carrera como Desarrollador web full-stack Ruby on Rails en la academia "Desafio LATAM" donde aprendí a desarrollar proyectos web tanto en el front end como en el back end.<br>
    Actualmente sigo estudiando y adquiriendo experiencia en Ruby on Rails y React ya que quiero seguir perfeccionandome en la programación.
</p> <hr>
<em>“Viajar es una brutalidad. Te obliga a confiar en extraños y a perder de vista todo lo que te resulta familiar y confortable de tus amigos y tu casa. Estás todo el tiempo en desequilibrio. Nada es tuyo excepto lo más esencial: el aire, las horas de descanso, los sueños, el mar, el cielo; todas aquellas cosas que tienden hacia lo eterno o hacia lo que imaginamos como tal”. – Cesare Pavese</em> <hr>
<p>Una de las cosas que mas me apasionan aparte del desarrollo web es Viajar, tengo la suerte de conocer varios lugares y ciudades que me han enseñado tanto, Uno de los países del cual quedé muy asombrado fué Japón del cual me enamoré a primera vista por su limpieza, su gente tan educada, su arquitectura y sus recovecos, la comida y su naturaleza, fué por ello que hicé una página web dedicada a Japón y sus regiones la cual puedes visitar en el siguiente link
    <%= link_to 'Maravillas de Japón', 'https://alexcct107.github.io/maravillas_japon/index.html', target: '_blank' %>
</p>