<h1>Iván Carrasco - Desarrollador Web Ruby On Rails</h1>
<p>Bienvenidos a mi página web donde encontraras información sobre mí y mis trabajos.</p>
<hr>
<p>En esta ocasión este es un ejercicio creado con Ruby On Rails en el cual creo un proyecto para practicar las vistas y controladores, aprovecho tambien para contarte un poco sobre mí.</p>

